body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: 350%;
    line-height: 80px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 50px;
}

.section-container-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    margin: 5% 8%;
    border-radius: 2em;
}

.section-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 10% 8%;
    border-radius: 2em;
    gap: 2em;
}

.div-half-width {
    color: aliceblue;
    position: relative;
}

.div-half-width img {
    position: absolute;
    width: 80%;
    height: 90%;
    bottom: 0;
    left: 0;
}

.link-button {
    text-decoration: none;
    padding: 1em 2em;
    background-color: #DD0000;
    color: aliceblue;
    font-size: 20px;
    font-weight: 400;
    border-radius: .3em;
}

#banner-heading {
    padding: 5% 10% 15% 15%;
}

.container-div-transfer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.transfer {
    box-shadow: 10px 10px 50px white;
    border-radius: 1em;
    border: 1px solid #E8E8E8;


}

.transfer img {
    display: block;
    width: 100%;
    height: 50%;
}

.transfer-link {
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    padding: .2em 1em;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: .2em;
}

#sidebar-container {
    background-color: black;
    border-radius: 2em;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar-div {
    background-color: white;
    color: black;
    width: 80%;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.sidebar-link {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    font-weight: 700;

}

#blog {
    background-color: #DD0000;
}

button {
    background-color: white;
    border: none;
    font-size: 20px;
    padding-right: 40px;
    color: gray;
}

.margin {
    margin: 2em 1em;
}

.fa-regular {
    padding-right: 10px;
}

.footer-section {
    padding: 5em 0;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
}

#footer-goal {
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40%;
    padding: 1em 0;
}

.footer-div {
    color: white;
    width: 60%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4%;
    justify-content: center;
    padding: 4em 0;

}

h1 {
    color: white;
    font-size: 3em;
}

hr {
    color: #FFFFFF;
    width: 70%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-link{
    padding-bottom: 10%;
}
.footer-link a {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 1.1em;
    font-weight: 600;
}

.container-div-schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}


.match-schedule {
    border: 1px solid #E8E8E8;
    display: flex;
    flex-direction: column;
    padding: 15% 10% 0%;
    border-radius: 1em;
}
.match-schedule-flag {
    display: flex;
    justify-content: space-between;

}
#match-feature{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* The part Thats will view in tablet mode*/
@media screen and (min-width: 577px) and (max-width: 992px) {
    .section-container{
        grid-template-columns: 1fr ;
    }
    #sidebar-container{
        flex-direction: row;
        background-color: white;
        column-gap: 10px;

    }
    .sidebar-div{
        border: 1px solid #E8E8E8;
    }
    .container-div-transfer{
        grid-template-columns: repeat(2, 1fr);

    }
    .footer-div{
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
    }
}
/* The part Thats will view in mobile mode*/
@media screen and (max-width: 576px) {
    .section-container-banner{
        grid-template-columns: 1fr;
        
    }
    .div-half-width{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div-half-width img{
        
        display: grid;
        position: static;
        height: 100%;
        grid-template-columns: 1fr;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    p{
        text-align: center;
    }
    h3{
        text-align: center;
        font-size: 1.5em;
        line-height: 40px;
    }
    .section-container{
        grid-template-columns: 1fr ;
    }
    #sidebar-container{
        background-color: white;

    }
    .sidebar-div{
        border: 1px solid #E8E8E8;
    }
    .container-div-transfer{
        grid-template-columns: 1fr;

    }
    .footer-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}